@{
    Layout = "_Layout";
}

@*BUG LIST : 
    1. 搜尋為NULL時候畫面要調整為「找不到該訂單」
    2. 分頁顯示問題
    3. 排序表格要能由大到小
    4. 搜尋指定ID結束後要能回上頁*@
<div id="app" class="container mt-5">
    <h1>首頁</h1>
    <button type="submit" class="btn btn-success" v-on:click="openCreateModal">新增</button>
    @*<button type="submit" class="btn btn-success" v-on:click="paginations(5,10)">測試分頁</button>*@
    <br />

    <table id="OrderTable" class="table table-bordered" ></table>


    @* 看詳細Modal *@
    @* v-show 跟 v-if 差別在會不會被移出DOM元素前者會隱藏元素後者會直接移除 *@
    @* 依照使用頻率高的環境使用v-show *@
    <div v-show="isModalOpen" class="modal" style="display: block;">
        <div class="modal-content">
            <span class="close" v-on:click="closeModal">&times;</span>
            <p>訂單詳細:</p>
            <p>訂單編號: {{ orderDetail.orderId }}</p>
            <p>客戶姓名: {{ orderDetail.customerId }}</p>
            <p>下訂日期: {{ orderDetail.orderDate }}</p>
            <p>運送國家: {{ orderDetail.shipCountry }}</p>
        </div>
    </div>

    @* 新增Modal *@
    <div v-show="createModalOpen" class="modal" style="display: block;">
        <div class="modal-content">
            <span class="close" v-on:click="closeModal">&times;</span>
            <h2>新增訂單:</h2>
            <label>姓名:</label>
            <input type="text" v-model="customerId" />
            <label>下訂日期:</label>
            <input v-model="orderDate" placeholder="{{ orderDate }}" readonly>
            <label>運送國家:</label>
            <input type="text" v-model="shipCountry" />
            <label>運送城市:</label>
            <input type="text" v-model="shipCity" />
            <label>運送地址:</label>
            <input type="text" v-model="shipAddress" />
            <button class="btn btn-success" v-on:click="createOrder(customerId, shipCountry, shipCity, shipAddress, orderDate)">送出</button>
        </div>
    </div>

    @* 編輯Modal *@
    <div v-show="editModalOpen" class="modal" style="display: block;">
        <div class="modal-content">
            <span class="close" v-on:click="closeModal">&times;</span>
            <h2>訂單詳細:</h2>
            <label>訂單編號:</label>
            <input type="text" v-model="orderDetail.orderId" readonly />
            <label>客戶姓名:</label>
            <input type="text" v-model="orderDetail.customerId" readonly />
            <label>下訂日期:</label>
            <input type="text" v-model="orderDetail.orderDate" readonly />
            <label>運送國家:</label>
            <input type="text" v-model="orderDetail.shipCountry" />
            <label>運送城市:</label>
            <input type="text" v-model="orderDetail.shipCity" />
            <label>運送地址:</label>
            <input type="text" v-model="orderDetail.shipAddress" />
            <button class="btn btn-success" v-on:click="saveChanges">保存更改</button>
        </div>
    </div>

</div>


<script src="~/js/shop.js"></script>
